:root {
    --main-dark-grey: #4E4F50;
    --main-light-gray: #746C70;
    --main-tan: #E2DED0;
    --main-blue-gray: #647C90;
}

* {
    font-family:'Courier New', Courier, monospace;

}
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main-tan);
    margin: 0;
}
h1,h2,h3 {
    color: var(--main-dark-grey);
}
header {

    background-color: var(--main-dark-grey);
    display: flex;

}
footer {
    background-color: var(--main-dark-grey);
    color: var(--main-tan);
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
