* {
    font-family:'Courier New', Courier, monospace;

}
body {
    background-color: #E2DED0;

}
h1,h2,h3 {
    color: #4E4F50;
}
a {
    color: #746C70;
    text-decoration: none;
}
a:hover {
    color: red;
    cursor: pointer;
}
nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
nav li {
    display: inline-block;
    font-size: 24px;
}
nav li a {
    color: #4E4F50;
    text-decoration: underline;
}
ul {
    list-style : none;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
