{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <section>
        <h2> Username: </h2><p>{{user_instance.username}}</p>
        <h2> Email: </h2><p>{{user_instance.email}}</p>
    </section>
    {% if user == user_instance %}
    <section>
        <form method="post">
            {% csrf_token %}
            {{update_form.as_p}}
            <button type="submit" name="update_fields">save changes</button>
        </form>
    </section>
    <section>
        <h2> Change Password: </h2>
        <form method="post">
            {% csrf_token %}
            {{password_reset_form.as_p}}
            <button type="submit" name="password_change">save new password</button>
        </form>
    </section>
    {% endif %}  
</body>
{% endblock %}
</html>