{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Edit Game{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <h2> Editing Game:</h2>
        <p>{{game}}</p>
        <form action="{% url 'rpiapp:edit_game' game.league.id game.season.id game.id %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form>
    </section>
    <section>
        <a href="{% url 'rpiapp:season_details' game.league.id game.season.id %}">Back to season</a>
    </section>
</body>
{% endblock %}
</html>