{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Edit League{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <h2> Editing League: {{league}}</h2>
        <form action="{% url 'rpiapp:edit_league' league.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </section>
    <section>
        <a href="{% url 'rpiapp:user_profile' request.user.id %}">Back to user profile</a>
    </section>
</body>
{% endblock %}
</html>