{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <section>
        <h1> Game Details </h1>
        {% if user == game.created_by %}
        <form style="display:inline;" action="{% url 'rpiapp:edit_game' game.league.id game.season.id game.id%}">
            {% csrf_token %}
            <button type="submit">Edit</button>
        </form>
        {% endif %}
        <p><a href="{% url 'rpiapp:season_details' game.league.id game.season.id %}" > Game Season: {{game.season}}</a></p>
        <p><a href="{% url 'rpiapp:league_details' game.league.id %}" > Game League: {{game.league}}</a></p>
        <p>Game Date: {{game.date}}</p>
        <p>Game Winner: <a href="{% url 'rpiapp:team_details' game.winner.league.id game.winner.id %}" > {{game.winner}}</a></p>
        <p>Game Loser: <a href="{% url 'rpiapp:team_details' game.loser.league.id game.loser.id %}" > {{game.loser}}</a></p>
        <p>Home Team: <a href="{% url 'rpiapp:team_details' game.home_team.league.id game.home_team.id %}" > {{game.home_team}}</a></p>
        <p>Away Team: <a href="{% url 'rpiapp:team_details' game.away_team.league.id game.away_team.id %}" > {{game.away_team}}</a></p>
    </section>
</body>
{% endblock %}
</html>