{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Home{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <h2> Search for League: </h2>
        <form action="{% url 'rpiapp:league_search' %}" method="post">
            {% csrf_token %}
            <input type="search" placeholder="League name" name="league_search_term">
            <button type="submit">Search for League</button>
        </form>
        <h2> Search for User: </h2>
        <form action="{% url 'rpiapp:user_search' %}" method="post">
            {% csrf_token %}
            <input type="search" placeholder="User name" name="user_search_term">
            <button type="submit">Search for User</button>
        </form>
    </section>
    <section>
        {% if user.is_authenticated %}
        <h2> Add League: </h2>
        <form method="post">
            {% csrf_token %}
            {{add_league_form.name}}
            <button type="submit">Add League</button>
        </form>
        {% endif %}
    </section>
</body>
{% endblock %}
</html>