{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Home{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <h2> Search for League: </h2>
        <form action="{% url 'rpiapp:league_search' %}" method="post">
            {% csrf_token %}
            <input type="search" placeholder="League name" name="league_search_term">
            <button type="submit">Search for League</button>
        </form>
        <h2> Search for User: </h2>
        <form action="{% url 'rpiapp:user_search' %}" method="post">
            {% csrf_token %}
            <input type="search" placeholder="User name" name="user_search_term">
            <button type="submit">Search for User</button>
        </form>
    </section>
    {% if user.is_authenticated %}
    <section>
            <h2> Add League: </h2>
            <form method="post">
                {% csrf_token %}
                {{add_league_form.name}}
                <button type="submit">Add League</button>
            </form>
    </section>
    {% endif %}
    <section>
        <h2> Pro Leagues </h2>
        <ul>
            {% for league in pro_leagues %}
            <li><a href="{% url 'rpiapp:league_details' league.id %}">{{league}}</a></li>
            {% endfor %}
        </ul>
        <h2> Collegiate Leagues </h2>
        <ul>
            {% for league in college_leagues %}
            <li><a href="{% url 'rpiapp:league_details' league.id %}">{{league}}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2> Latest games: </h2>
        {% if latest_games %}
        <ul>
            {% for game in latest_games %}
            <li><a href="{% url 'rpiapp:game_details' game.league.id game.season.id game.id %}">{{game}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No recent games... </p>
        {% endif %}
    </section>
</body>
{% endblock %}
</html>