{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    <h2> Editing Season: {{season}} </h2>
    <form action="{% url 'rpiapp:edit_season' season.league.id season.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'rpiapp:league_details' season.league.id %}">Back to league</a>  
</body>
{% endblock %}
</html>