{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
{% block content %}
<body>
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}

    <h2> Search for League: </h2>
    <form action="{% url 'rpiapp:league_search' %}" method="post">
        {% csrf_token %}
        <input type="search" placeholder="League name" name="search_term">
        <input type="submit" value="Search for League">
    </form>

    <h2> Add League </h2>
    <form action="{% url 'rpiapp:add_league' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="League name" name="league_name">
        <input type="submit" value="Add League">
    </form>

    <h1> Leagues </h1>
    <h2> Professional: </h2>
    <ul>
        {% for league in major_leagues_objs %}
        <li><a href="{% url 'rpiapp:league_details' league.id %}" > {{league}} </a></li>
        {% if user == league.created_by or user.is_superuser %}
        <form action="{% url 'rpiapp:delete_league' league.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="X">
        </form>
        {% endif %}
        {% endfor %}
    </ul>
    <h2> Collegiate: </h2>
    <ul>
        {% for league in ncaa_leagues_objs %}
        <li><a href="{% url 'rpiapp:league_details' league.id %}" > {{league}} </a></li>
        {% if user == league.created_by or user.is_superuser %}
        <form action="{% url 'rpiapp:delete_league' league.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="X">
        </form>
        {% endif %}
        {% endfor %}      
    </ul>
    
    <h1> Latest games in the database </h1>
    {% if latest_games %}
        <ul>
            {% for game in latest_games %}
                <li><a href="{% url 'rpiapp:game_details' game.league.id game.season.id game.id %}" > {{game}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No recent games available... </p>
    {% endif %}
</body>
{% endblock %}
</html>