{% extends 'rpiapp/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
{% block content %}
<body>
    <form action="{% url 'rpiapp:add_league' %}" method="post">
        {% csrf_token %}
        <h1> {{error}}</h1>
        <input type="text" name="league_name">
        <input type="submit" value="Add League">
    </form>
    <h1> All Leagues: </h1>
    <ul>
        {% for league in all_leagues %}
        <li><a href="{% url 'rpiapp:league_details' league.id %}" > {{league}} </a></li>
        <form action="{% url 'rpiapp:delete_league' league.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="X">
        </form>
        {% endfor %}
    </ul>
    <h1> Latest games in the database: </h1>
    {% if latest_games %}
        <ul>
            {% for game in latest_games %}
                <li><a href="{% url 'rpiapp:game_details' game.league.id game.season.id game.id %}" > {{game}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No recent games available... </p>
    {% endif %}
</body>
{% endblock %}
</html>