{% extends 'rpiapp/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <h1> Search results for : "{{search_term}}"</h1>
    {% if search_results %}
    <ul>
        {% for team in search_results %}
            <li><a href="{% url 'rpiapp:team_details' team.league.id team.id %}"> {{team.name}} </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p> No teams with name containing: "{{search_term}}"</p>
    {% endif %}
</body>
{% endblock %}
</html>