<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{team.name}}'s Games: </h1>
    {% if games_by_season %}
        <ul>
            {% for season,games in games_by_season.items %}
                <li> {{season.year}} </li>
                <ul>
                    {% for game in games %}
                        {% if not game %}
                            <li> Game not found </li>
                        {% else %}
                            <li><a href="{% url 'rpiapp:game_details' game.id %}"> {{game}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% else %}
        <p> No games played... </p>
    {% endif %}
</body>
</html>