<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{team.name}}'s Games: </h1>
    {% if team_games %}
    {% regroup team_games by season as seasons_list %}
        <ul>
            {% for season in seasons_list %}
            <li>{{season.grouper}}
                <ul>
                    {% for game in season.list %}
                        <li><a href="{% url 'rpiapp:game_details' game.id %}"> {{game}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No games played... </p>
    {% endif %}
</body>
</html>