{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{{view_user.username}}{% endblock %}
</head>
{% block content %}
<body>
    <section>
        {% if view_user.is_superuser %}
        <h1 style="color: #58B457;"> **Admin** </h1>
        {% endif %}
        {% if not view_user.is_active %}
        <h1 style="color:red;">**User is inactive**</h1>
        {% endif %}
        <h2>Username:</h2><p> {{view_user.username}}</p>
        <h2>Email: </h2><p>{{view_user.email}}</p>
        {% if user == view_user %}
            <h2><a style="text-decoration: none;" href="{% url 'rpiapp:edit_profile' user.id %}">Edit Profile</a></h2>
            <h2><a id="deleteprofile" style="text-decoration: none;" href="{% url 'rpiapp:delete_profile' user.id %}">Delete Profile</a></h2>
        {% endif %}
    </section>
    <section>
        <h2>{{view_user.username}}'s leagues and teams: </h2>
        <ul>
            {% for league in  leagues %}
            <span class="uprofile-span">League:</span>
            <br>
            <li>
                {% if user == view_user %}
                <form action="{% url 'rpiapp:edit_league' league.id %}">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
                <form style="display:inline;" action="{% url 'rpiapp:delete_league' league.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
                <a href="{% url 'rpiapp:league_details' league.id %}">{{league}}</a>
            </li>
            <span class="uprofile-span">Teams:</span>
            <br>
            <ul>
                {% for team in teams %}
                    {% if team.league == league %}
                    <li>
                        {% if user == view_user %}
                        <form action="{% url 'rpiapp:edit_team' league.id team.id %}">
                            {% csrf_token %}
                            <button type="submit">Edit</button>
                        </form>
                        <form style="display:inline;" action="{% url 'rpiapp:delete_team' league.id team.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        {% endif %}
                        <a href="{% url 'rpiapp:team_details' league.id team.id %}">{{team}}</a>
                    </li>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </section>
</body>
{% endblock %}
</html>