{% extends 'rpiapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <section>
        <h2>Bulk add games: </h2>
        <h3>
            Download Template: <a href="{% static 'rpiapp/games_csv_template.csv' %}" download="Games Template">games_template.csv</a>
        </h3>
        <form action="{% url 'rpiapp:bulk_game_upload' season.league.id season.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="file" name="games_csv" accept=".csv" required>
            <button type="submit">Upload</button><p>**This may take a while for large seasons (>500 games), do not leave the page.**</p>

        </form>
    </section>
    <section>
        <a href="{% url 'rpiapp:season_details' season.league.id season.id %}">Back to season</a>
    </section>
</body>
{% endblock %}
</html>