{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Game Search{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <a href="{{referer}}">Back</a>
    </section>
    <section>
        <h1> Search results for {{search_date}}</h1>
        {% if search_results %}
        <ul>
            {% for game in search_results %}
                <li><a href="{% url 'rpiapp:game_details' game.league.id game.season.id game.id %}"> {{game}} </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No games on this date... </p>
        {% endif %}
    </section>
</body>
{% endblock %}
</html>