{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}League Search{% endblock %}
</head>
{% block content %}
<body>
    <section>
        <a href="{{referer}}">Back</a>
    </section>
    <section>
        <h1> Search results for : "{{search_term}}"</h1>
        {% if search_results %}
        <ul>
            {% for league in search_results %}
                {% if league.created_by.is_superuser %}
                    <li><a href="{% url 'rpiapp:league_details' league.id %}"> {{league.name}} </a></li>
                {% else %}
                    <li><a href="{% url 'rpiapp:league_details' league.id %}"> {{league.name}}</a> (created by: <a href="{% url 'rpiapp:user_profile' league.created_by.id %}">{{league.created_by.username}}</a>)</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p> No leagues with name containing: "{{search_term}}" </p>
        {% endif %}
    </section>
</body>
{% endblock %}
</html>