{% extends 'rpiapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <section>
        <a href="{{referer}}">Back</a>
    </section>
    <section>
        <h1> Search results for : "{{search_term}}"</h1>
        {% if search_results %}
        <ul>
            {% for team in search_results %}
                <li><a href="{% url 'rpiapp:team_details' team.league.id team.id %}"> {{team.name}} </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No teams in "{{league}}" with name containing: "{{search_term}}"</p>
        {% endif %}
    </section>
</body>
{% endblock %}
</html>